@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 40px;
  text-align: center
}

body {
  background: #808080;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap
}

.container > div {
  width: 80px;
  height: 80px;
  border: 1px solid #8D99AE;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 2px 2px;
  visibility: visible
  /*border-radius: 100%;
  font-size: 20px*/
}

aside {
  float: right;

}
